// Artifakt Regular Fonts
@font-face {
  font-family: 'ArtifaktElementRegular';
  src:  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Regular.woff") format("woff"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Regular.ttf") format("ttf"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Regular.eot") format("eot"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElementMedium';
  src:  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Medium.woff") format("woff"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Medium.ttf") format("ttf"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Medium.eot") format("eot"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Element%20Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


// Artifakt Legend Fonts
@font-face {
  font-family: 'ArtifaktLegendRegular';
  src:  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Legend%20Regular.woff") format("woff"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Legend%20Regular.ttf") format("ttf"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Legend%20Regular.eot") format("eot"),
  url("https://cdn.web-platform.io/artifakt/release/v1.2.0/Artifakt%20Legend%20Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/////////////////////////////////////////////////////////
// Some best-practice CSS that's useful for most apps
//
/////////////////////////////////////////////////////////
html {
  box-sizing: border-box;
  overflow-style: none;
}

::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

html,
body {
  font-family: "ArtifaktElementRegular", Helvetica, Arial, sans-serif;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  user-select: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.core-layout__viewport {
  height: calc(100vh - 65px);
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

/////////////////////////////////////////////////////////
// Reflex Layout
//
/////////////////////////////////////////////////////////
.reflex-layout.horizontal > .reflex-splitter {
  height: 4px;
  z-index: 1;
}

.reflex-layout.vertical > .reflex-splitter {
  z-index: 1;
  width: 4px;
}
